#siteHeader {
    height: auto;
    width: 100%;
    display: flex;
    /* TODO: Q: Why is `width: 100%` necessary here?
     * w3schools claims that a block element "takes up the whole width"
     * and we defined header as a block element
     */
    margin-top: 15%;
}

.headerContent {
    margin-left: auto;  /* center horizontally */
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 80%;
    height: auto;
}

#social-pane {
   margin-top: 0.125em; 
}

.social a {
    font-size: 1.5em;
}

#profile {
    height: 250px;
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;  /* center vertically */
}

#profilePicture {
    border-radius: 50%;  /* Circular picture */
    object-fit: contain;  /* Q: Why does this statement have no effect? */
    height: 90%;
    margin-left: 0px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#profileStatus {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    margin-top: 0em;
    margin-bottom: 0.25em;
    margin-left: 0em;
    margin-right: 0em;
}

h2 {
    font-size: 1.875em;
    margin-top: 0em;
    margin-bottom: 0.175em;
    margin-left: 0em;
    margin-right: 0em;
}

h3 {
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

#tagline {
    text-align: center;
    font-size: 1.125em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

footer {
    width: 80%;
}

footer > hr {
  /* Set footer color across browsers: https://stackoverflow.com/a/12399447 */
  border-color: #bdbfc1;
  background-color: #bdbfc1;
  margin-top: 2em;
  margin-bottom: 1.25em;
}

#copyrightText {
    text-align: center;
    font-size: 0.875em;
}

/* from http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
.centerVertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a:link {
    color: #bdbfc1;
    text-decoration: none;
}

a:visited {
    color: #787d78;
    text-decoration: none;
}

a:hover {
    color: #787d78;
    text-decoration: underline;
}

a:active {
    color: #787d78;
    text-decoration: underline;
}

/* w3schools boilerplate:*/
/* have the following "important" semantic elements be block elements (start on new line & take all available width) */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block;
}

/* set body, html height to 100% to allow children to take up x% of page height/width */
body {
    margin: 0; /* get rid of unwanted whitespace on edges of page */
    height: 100%;
    /* Uffizi palette: https://coolors.co/e1e1e1-3c4447-787d78-3d4444-BDBFC1 */
    background-color: #3c4447;
    color: #e1e1e1;
    font-family: Palatino, Times, Serif;
}

html {
    height: 100%;
}

